:root {
  box-sizing: border-box;
  --headerColor: #5f7470;
  --sidebarColor: #b8bdb5;
  --sidebarHoverColor: #a1a59f;
  --todoSectionColor: #e0e2db;
  --footerColor: #5f7470;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 3fr 0.25fr;
  grid-template-columns: 1fr 5fr;
}

/* Header section */
.header {
  grid-column: 1 / 3;
  background-color: var(--headerColor);

  display: grid;
  align-items: center;
  padding-left: 3vw;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 1vw;
}

.headerimage {
  height: 2rem;
}

.headertitle {
  font-size: 2rem;
}
/*-----------------------------------------------*/

/* Sidebar section */
.sidebar {
  grid-column: 1 / 2;
  background-color: var(--sidebarColor);
  font-size: 1.25rem;

  padding-left: 3vw;
  padding-top: 3vh;

  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 1vh;
}

.homebar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr max-content;
  gap: 1vw;

  padding: 5% 25% 5% 5%;
  width: fit-content;
}

.homebar:hover {
  background-color: pink;
  border-radius: 10px;
}

.homeimage {
  height: 1.25rem;
}

.projectbar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr max-content;
  gap: 1vw;

  padding: 5% 25% 5% 5%;
  width: fit-content;
}

.projectbar:hover {
  background-color: pink;
  border-radius: 10px;
}

.projectimage {
  height: 1.25rem;
}

.addprojectimage {
  height: 1.2rem;
}

.projects {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  padding: 5% 25% 5% 20%;
  width: fit-content;
}

.projects:hover {
  background-color: pink;
  border-radius: 10px;
}

/*-----------------------------------------------*/

/* To-Do section */
.todosection {
  grid-column: 2 / 3;
  background-color: var(--todoSectionColor);

  padding-left: 3vw;
  padding-top: 3vh;

  display: grid;
  grid-auto-rows: max-content;
}

.addtodo {
  display: flex;
  align-items: center;
  gap: 1%;
}

/* Adding new task */
#taskrow {
  position: relative;
  width: 70vw;
  border: 2px solid var(--headerColor);
  border-radius: 15px;
  padding: 1%;
  margin-bottom: 1%;

  display: grid;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  width: 100px;
  display: inline-block;
}

input {
  width: 300px;
}

.tasksubmit {
  position: absolute;
  right: 4%;
  font-size: 1.4rem;
  color: green;
}

.taskcancel {
  position: absolute;
  right: 2%;
  font-size: 1.4rem;
  color: red;
}

#taskrow {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.taskremcontainer {
  height: 1.4rem;
  position: absolute;
  right: 2%;
}

.tasktitle,
.taskdescription,
.taskduedate,
.taskpriority {
  display: flex;
}

.task-left {
  width: 100px;
}

/*-----------------------------------------------*/

/* Footer section */
.footer {
  grid-column: 1 / 3;
  background-color: var(--footerColor);
  font-size: 1.5rem;

  display: grid;
  justify-items: center;
  align-items: center;
}
/*-----------------------------------------------*/
